body {
  background: #1F1F2E;
}

.catalog h1 span {
  color: #B2B2C6;
}

.catalog .container {
  min-height: 50vh;
}

.catalog .search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 100px;
}

.catalog .search input {
  width: calc(100% - 155px);
  background: none;
  border: 0;
  border-bottom: 1px solid #44445C;
  font-size: 14px;
  color: white;
  height: 50px;
  transition: 0.3s;
}

.catalog .search input:focus {
  border-bottom: 1px solid white;
}

.catalog .search button {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background: #323292;
  border: 0;
  outline: 0;
}

.catalog .search button:hover {
  background-color: #3E3EB7;
}

@media (max-width: 1130px) {
  .catalog .container > h1 {
    font-size: 32px;
  }
  .catalog .search input {
    height: 30px;
    margin-top: 20px;
    width: calc(100% - 75px);
  }
  .catalog .search button {
    width: 65px;
  }
}
